@model ProjectModel


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="projectprogresses-grid"></div>

            <script>
                $(document).ready(function() {
                    $("#projectprogresses-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ProjectProgressesSelect", "Project"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: function() {
                                        var data = {
                                            ProjectId: '@(Model.Id)'
                                        };
                                        //addAntiForgeryToken(data);
                                        return data;
                                    }
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("ProjectProgressDelete", "Project", new { progressId = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    //data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        //do not implicitly specify all fields
                                        //we do it only for fields which implicitly require it
                                        //otherwise, they'll be formatted wrong way
                                        CreatedOn: { type: "date" }
                                    }
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(Model.ProjectProgressSearchModel.PageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(Model.ProjectProgressSearchModel.AvailablePageSizes)],
                            @await Html.PartialAsync("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "คุณต้องการจะลบรายการนี้ใช่หรือไม่",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "ProgressStatusName",
                                title: "สถานะโครงการวิจัย",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                            }, {
                                field: "ProgressStartDateName",
                                title: "วันที่เริ่มต้น",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                            }, {
                                field: "ProgressEndDateName",
                                title: "วันที่สิ้นสุด",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                            }, {
                                field: "ModifiedName",
                                title: "วันที่แก้ไขข้อมูล",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                            }, {
                                field: "DownloadGuid",
                                title: "ดาวน์โหลด",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: '<a class="btn btn-default" href="/Download/DownloadFile?downloadGuid=#=DownloadGuid#"><i class="fa fa-download"></i></a>'
                            }, {
                                command: { name: "destroy", text: "ลบรายการ" },
                                title: "การกระทำ",
                                width: 75,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                            }
                        ]
                    });
                });
            </script>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            เพิ่มสถานะโครงการวิจัย
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AddProjectProgressStatusId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="AddProjectProgressStatusId" asp-items="Model.AvailableProgressStatuses" />
                    <span asp-validation-for="AddProjectProgressStatusId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AddProjectProgressStartDate" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddProjectProgressStartDate" />
                    <span asp-validation-for="AddProjectProgressStartDate"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AddProjectProgressEndDate" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddProjectProgressEndDate" />
                    <span asp-validation-for="AddProjectProgressEndDate"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AddProjectProgressComment" />
                </div>
                <div class="col-md-9">
                    <nop-textarea asp-for="AddProjectProgressComment" />
                    <span asp-validation-for="AddProjectProgressComment"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AddProjectUploadId" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddProjectUploadId" />
                    <span asp-validation-for="AddProjectUploadId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="button" id="addProjectProgress" class="btn btn-primary">บันทึกข้อมูล</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#addProjectProgress').click(function() {
            var progressStatusId = $("#@Html.IdFor(model => model.AddProjectProgressStatusId)").val();
            var progressStartDate = $("#@Html.IdFor(model => model.AddProjectProgressStartDate)").val();
            var progressEndDate = $("#@Html.IdFor(model => model.AddProjectProgressEndDate)").val();
            var progressComment = $("#@Html.IdFor(model => model.AddProjectProgressComment)").val();
            var ProjectUploadId = $("#@Html.IdFor(model => model.AddProjectUploadId)").val();

            $('#addProjectProgress').attr('disabled', true);

            var postData = {
                projectId: '@(Model.Id)',
                progressStatusId: progressStatusId,
                startDate: progressStartDate,
                endDate: progressEndDate,
                comment: progressComment,
                uploadId: ProjectUploadId,
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@( Url.Action("ProjectProgressAdd", "Project"))",
                data: postData,
                success: function(data) {
                    var grid = $("#projectprogresses-grid").data('kendoGrid');
                    grid.dataSource.read();
                    $('#addProjectProgress').attr('disabled', false);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to add project progress.');
                    $('#addProjectProgress').attr('disabled', false);
                }
            });
        });
    });
</script>

