@model DashboardModel
@{
    ViewData["Title"] = "ภาพรวม";
}

<environment names="Development">
    <link rel="stylesheet" href="~/lib/jvectormap/jquery-jvectormap.css" asp-append-version="true" />
</environment>

<environment names="Development">
    <!-- Sparkline -->
    <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.min.js" asp-append-version="true"></script>
    <!-- jvectormap -->
    <!-- ChartJS -->
    <script src="~/lib/chart.js/Chart.min.js" asp-append-version="true"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!--<script src="~/js/pages/dashboard2.js" asp-append-version="true"></script> -->
</environment>
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
<!-- Content Header (Page header) -->
<div class="content-header">
    <h1>
        ปีงบประมาณ
        <small>@Model.FiscalYear</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> หน้าแรก</a></li>
        <li class="active">ภาพรวม</li>
    </ol>
</div>
<!-- Main content -->
<!-- Info boxes -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-check"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">งบประมาณวิจัย</span>
                <span class="info-box-number">@Model.FundAmount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-dashboard"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">โครงการวิจัย</span>
                <span class="info-box-number">@Model.NoOfProject</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">นักวิจัย</span>
                <span class="info-box-number">@Model.NoOfReseacher</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ผู้ทรงคุณวุฒิ</span>
                <span class="info-box-number">@Model.NoOfProfessor</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">ข้อมูลจำนวนโครงการวิจัยและงบประมาณสนับสนุน</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            <strong>ประจำปีงบประมาณ พ.ศ. @Model.FiscalYear แยกตามหน่วยงาน/คณะ</strong>
                        </p>
                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" style="height: 300px;width:auto"></canvas>
                        </div>
                        <!-- /.chart-responsive -->
                    </div>

                </div>
                <!-- /.row -->
            </div>

        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <script>
        $(function () {

            'use strict';

            window.chartColors = {
                red: 'rgb(255, 99, 132)',
                orange: 'rgb(255, 159, 64)',
                yellow: 'rgb(255, 205, 86)',
                green: 'rgb(75, 192, 192)',
                blue: 'rgb(54, 162, 235)',
                purple: 'rgb(153, 102, 255)',
                grey: 'rgb(201, 203, 207)'
            };

            var barChartData = {
                labels: @Html.Raw(@Model.FacultyList),
                datasets: [{
                    label: 'งบประมาณ (บาท)',
                    backgroundColor: window.chartColors.orange,
                    yAxisID: 'y-axis-1',
                    data: @Model.FundAmountList,
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 30
                    }
                }, {
                    label: 'โครงการวิจัย',
                    backgroundColor: window.chartColors.blue,
                    yAxisID: 'y-axis-2',
                    data: @Model.ProjectList,
                    ticks: {
                        suggestedMin: 2,
                        suggestedMax: 10
                    }
                }]

            };

            window.onload = function () {

                var ctx = document.getElementById('salesChart').getContext('2d');
                window.myBar = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        responsive: true,
                        title: {
                            display: false,
                            text: ''
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: true
                        },
                        scales: {
                            yAxes: [{
                                type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: 'left',
                                id: 'y-axis-1',

                            }, {
                                type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: 'right',
                                id: 'y-axis-2',
                            }],
                        }
                    }
                });

            };
        });

    </script>
</div>

